
  <header class="container">
    <div class="site-title">
      <h1>
        <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a>
      </h1>
      <p>{{ site.description }}</p>
      {% if site.logo %}
        <img class="site-logo" src="{{ site.logo | prepend: site.baseurl}}">
      {% endif %}
    </div>
    <nav class="nav">
      <ul class="navbar">
        <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      </ul>
    </nav>
  </header>
